# Enforce Unix newlines
* text=lf

# Exclude unused files
# see: https://redd.it/2jzp6k
/assets/src                 export-ignore
/assets/.eslintrc.cjs       export-ignore
/assets/.prettierrc         export-ignore
/assets/.stylelintrc.json   export-ignore
/assets/package.json        export-ignore
/assets/package-lock.json   export-ignore
/assets/tsconfig.json       export-ignore
/assets/tsconfig.node.json  export-ignore
/assets/vite.config.ts      export-ignore
/.gitattributes             export-ignore
/.gitignore                 export-ignore
