.mmx-table {
  .b-table {
    th, td {
      vertical-align: middle;
    }

    tr {
      &.inactive {
        td:not(.table-actions) {
          opacity: 0.5;
        }
      }
    }

    th.b-table-sortable-column {
      white-space: nowrap;
    }

    td.table-actions {
      white-space: nowrap;
      text-align: right;

      .btn {
        svg {
          width: 1rem;
        }

        &:not(:first-child) {
          margin-left: 0.25rem;
        }
      }
    }
  }

  .active > .page-link {
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
  }

  .disabled > .page-link {
    pointer-events: none;
    color: var(--bs-pagination-disabled-color);
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color);
  }
}
